@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes description_appear {
  0%, 20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes description_appear {
  0%, 20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logo_move {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotate(30deg) translate(0.5rem, 0.5rem);
            transform: rotate(30deg) translate(0.5rem, 0.5rem);
  }
  50% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
  75% {
    -webkit-transform: rotate(-30deg) translate(-0.5rem, 0.5rem);
            transform: rotate(-30deg) translate(-0.5rem, 0.5rem);
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
}

@keyframes logo_move {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotate(30deg) translate(0.5rem, 0.5rem);
            transform: rotate(30deg) translate(0.5rem, 0.5rem);
  }
  50% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
  75% {
    -webkit-transform: rotate(-30deg) translate(-0.5rem, 0.5rem);
            transform: rotate(-30deg) translate(-0.5rem, 0.5rem);
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
}

body {
  width: 90%;
  margin: 2rem auto;
  font-size: 1.3vh;
  font-family: Georgia, 'Open Sans', 'sans-serif';
  color: white;
  border: 2px solid rgba(121, 125, 127, 0.5);
  border-radius: 1rem;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/*HEADER--------------------------------------------------*/
.imageProfil {
  width: 90%;
  height: 40rem;
  background-image: url("../img/profilFull.png");
  background-size: 150%;
  background-position-x: center;
  position: absolute;
  top: 2rem;
  -webkit-animation: appear 1700ms;
          animation: appear 1700ms;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: absolute;
  top: 4vh;
  right: 3vh;
}

.contact i {
  padding: .5rem;
  margin: 1rem;
  font-size: 4vh;
  color: #500e08;
  background-color: #af726c;
  border: 2px solid #922b21;
  border-radius: 1rem;
}

.contact i:hover {
  -webkit-animation: logo_move 800ms linear infinite;
          animation: logo_move 800ms linear infinite;
}

.dialogue {
  margin: 30rem 0 auto;
  position: relative;
  -webkit-animation: description_appear 1700ms;
          animation: description_appear 1700ms;
}

.name {
  width: 98%;
  padding: .5rem;
  text-align: center;
  border: thick double #922b21;
  border-radius: 1rem;
  background-color: #500e08;
}

.name h1 {
  margin: .5rem;
}

.name h2 {
  font-size: 1.3vh;
}

.description {
  padding: 1.5rem;
  text-align: justify;
  color: #500e08;
  border: thick double #922b21;
  border-radius: 1rem;
  background-color: #af726c;
  z-index: -1;
  font-size: 1.6vh;
}

/*CORPS--------------------------------------------------*/
.language-lobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block {
  width: 100%;
  margin: 2rem;
}

.block h1 {
  font-size: 2vh;
}

.block p {
  font-size: 1.6vh;
}

.align-right {
  text-align: right;
}

.bloc_pro, .bloc_formation {
  margin: 1rem;
}

.container {
  margin-top: 2vh;
}

.container h1 {
  font-size: 2vh;
}

hr {
  width: 80%;
}

.projet {
  margin: 3rem 0;
}

.projet h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5vh;
}

ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

ul li {
  margin: .5rem .5rem;
  padding: .5rem 1rem;
  background-color: #500e08;
  border-radius: 1rem;
}

/*AUTRES--------------------------------------------------*/
.fas {
  color: #af726c;
}
/*# sourceMappingURL=indexCss.css.map */