@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes description_appear {
  0%, 20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes description_appear {
  0%, 20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logo_move {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotate(30deg) translate(0.5rem, 0.5rem);
            transform: rotate(30deg) translate(0.5rem, 0.5rem);
  }
  50% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
  75% {
    -webkit-transform: rotate(-30deg) translate(-0.5rem, 0.5rem);
            transform: rotate(-30deg) translate(-0.5rem, 0.5rem);
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
}

@keyframes logo_move {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotate(30deg) translate(0.5rem, 0.5rem);
            transform: rotate(30deg) translate(0.5rem, 0.5rem);
  }
  50% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
  75% {
    -webkit-transform: rotate(-30deg) translate(-0.5rem, 0.5rem);
            transform: rotate(-30deg) translate(-0.5rem, 0.5rem);
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
  }
}

body {
  width: 90%;
  margin: 2rem auto;
  font-family: Georgia, 'Open Sans', 'sans-serif';
  color: white;
  border: 2px solid rgba(121, 125, 127, 0.5);
  border-radius: 1rem;
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
}

/*HEADER--------------------------------------------------*/
header {
  margin-bottom: 3rem;
  /*#triangle{
			width : 0;
			height : 0;
			display : inline-block;
			border-top : 50px solid $color_primary;
			border-left : 50px solid transparent;
			position : absolute;
			left : -50px;
		}*/
}

header .imageProfil {
  width: 90%;
  height: 40rem;
  background-image: url("../img/profilFull.png");
  background-size: 150%;
  background-position-x: center;
  position: absolute;
  top: 2rem;
  -webkit-animation: appear 1700ms;
          animation: appear 1700ms;
}

header .contact i {
  padding: .5rem;
  margin: .5rem;
  font-size: 40px;
  color: #500e08;
  background-color: #af726c;
  border: 2px solid #922b21;
  border-radius: 1rem;
  position: absolute;
}

header .contact i:hover {
  -webkit-animation: logo_move 800ms linear infinite;
          animation: logo_move 800ms linear infinite;
}

header .dialogue {
  margin: 16rem 0 auto;
  position: relative;
  -webkit-animation: description_appear 1700ms;
          animation: description_appear 1700ms;
}

header .dialogue .name_contact .name {
  width: 98%;
  text-align: center;
  border: thick double #922b21;
  border-radius: 1rem;
  background-color: #500e08;
}

header .dialogue .name_contact .name h1 {
  margin: .5rem;
}

header .dialogue .name_contact .name h2 {
  font-size: 12px;
}

header .dialogue .description {
  padding: 1.5rem 1rem 1rem 1rem;
  color: #500e08;
  border: thick double #922b21;
  border-radius: 1rem;
  background-color: #af726c;
  z-index: -1;
}

/*CORPS--------------------------------------------------*/
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

section .aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1rem;
}

section .aside h1 {
  font-size: 1rem;
}

section .aside .block {
  margin-bottom: 2rem;
  line-height: 1.375rem;
}

section .bloc_pro {
  margin-left: 7rem;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

section .bloc_pro .section {
  margin-bottom: 4rem;
}

section .projet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: start;
      align-content: start;
}

section .date_categories {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.875rem;
  margin: 1rem 2rem 1rem 0;
  text-align: right;
}

section .date_categories h2 {
  font-size: 1rem;
  margin-left: -5rem;
}

section .date_categories h3 {
  font-size: .75rem;
  margin-top: -.75rem;
}

section .acquis {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

section ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

section ul li {
  margin: .5rem .5rem;
  padding: .5rem 1rem;
  background-color: #500e08;
  border-radius: 1rem;
}

/*AUTRES--------------------------------------------------*/
.fas {
  color: #af726c;
}

/*SCREEN SIZE--------------------------------------------------*/
/*# sourceMappingURL=indexCss.css.map */