$color_primary : rgb(80, 14, 8);
$color_secondary:rgb(175, 114, 108);
$border_color : rgb(146, 43, 33);
$border : 1rem;


@mixin flex {
	display : flex;
	justify-content : space-around;
	align-items : center;
}

@keyframes appear{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


@keyframes description_appear{
	0%, 20%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


@keyframes logo_move{
	0%{
		transform: rotate(0deg) translate(0, 0);

	}
	25%{
		transform: rotate(30deg) translate(.5rem, .5rem);
	}
	50%{
		transform: rotate(0deg) translate(0, 0);
	}
	75%{
		transform: rotate(-30deg) translate(-.5rem, .5rem);
	}
	100%{
		transform: rotate(0deg) translate(0, 0);
	}
}


body{
	width : 60%;
	margin: 5rem auto;
	padding : 3rem;
	font-family: Georgia, 'Open Sans', 'sans-serif';
	color : white;
	border : 2px solid rgba(121, 125, 127, .5);
	border-radius : $border;
	background-image : url("../img/background.jpg");
	background-size : cover;
}

/*HEADER--------------------------------------------------*/
header{
	margin-bottom : 3rem;
	

	.imageProfil{
		width : 50rem;
		height : 50%;
		background-image : url("https://arsiasieg.github.io/curriculum/img/profilFull.png");
		background-size : cover;
		border-radius : $border;
		z-index : -1;
		position : absolute;
		top:10%;
		left :15%;
		/*animation: appear 1700ms;*/
	}

	.dialogue{
		height : 35%;
		margin : 16rem auto auto auto;
		border-radius : $border;
		position : relative;
		/*animation : description_appear 1700ms;*/

		.name_contact{
			display:flex;
			justify-content : space-between;

			.name{
				width : 17rem;
				max-height: 9rem;
				margin-bottom : -3%;
				text-align : center;
				border : thick double $border_color;
				border-radius : 0 1rem 1rem 0;
				background-color : $color_primary;
				position : relative;
				z-index : 1;

				h1{
					margin : .5rem;
				}

				h2{
					font-size : 12px;
				}
			}

			.contact{
				text-align : right;
				width : 50%;

				a{
					text-decoration: none;
					
				}
				i{
					padding : .5rem;
					margin : -1.2rem 1.5rem 0 0;
					font-size : 40px;
					color : $color_primary;
					background-color : $color_secondary;
					border : 2px solid $border_color;
					border-radius : $border;
					
					&:hover{
						animation : logo_move 800ms linear infinite;
					}
				}
			}
		}

		.description{
			padding : 1.5rem 1rem 1rem 1rem;
			color : $color_primary;
			border : thick double $border_color;
			border-radius : $border;
			background-color : $color_secondary;
			z-index : -1;
		}
	}


		/*#triangle{
			width : 0;
			height : 0;
			display : inline-block;
			border-top : 50px solid $color_primary;
			border-left : 50px solid transparent;
			position : absolute;
			left : -50px;
		}*/
}

/*CORPS--------------------------------------------------*/
section{
	@include flex;
	align-items : baseline;

	.aside{
		flex : 1;
		font-size: 1rem;

		h1{
			font-size: 1rem;
		}

		.block{
			margin-bottom : 2rem;
			line-height: 1.375rem;
		}
	}

	.bloc_pro{
		margin-left : 7rem;
		flex : 4;

		.section{
			margin-bottom : 4rem;

		}
	}

	.projet{
		display : flex;
		justify-content : space-between;
		align-items : baseline;
		align-content : start;
	}

	.date_categories{
			flex:1;
			font-size: 0.875rem;
			margin : 1rem 2rem 1rem 0;
			text-align : right;
			h2{
				font-size: 1rem;
				margin-left : -5rem;
			}

			h3{
				font-size : .75rem;
				margin-top : -.75rem;
			}
	}

	.acquis{
		flex :4;
	}

	ul {
		padding :0;
		display : flex;
		flex-wrap : wrap;
		list-style-type: none;
		
		li{
			margin : .5rem .5rem;
			padding : .5rem 1rem;
			background-color : $color_primary;
			border-radius : $border;
		}
	}
}


/*AUTRES--------------------------------------------------*/
.fas{
	color : $color_secondary;
}


/*SCREEN SIZE--------------------------------------------------*/
@media all and (max-width: 1200px){

	body{
		width : 80%;
	}


	header{
		margin-bottom : 3rem;

		.imageProfil{
			height : 35rem;
			top : 5%;
		}

		.dialogue{
			margin-top : 18rem;
			width : 95%;
			/*#triangle{
				border-top : 50px solid transparent;
			}*/

			.description{
				p{
					font-size: 1.3rem;
				}
			}
		}
	}

	section{
		display : block;

		.aside{
			display : flex;
			justify-content : center;
		}



		.bloc_pro{
			margin-left : 0;
			.date_categories{
				h2{
					margin-left : -2rem;
				}
			}
			
		}
	
	}
	
	hr{
		margin-right : 2rem;
		margin-left : 2rem;
		max-height: 150px;
	}
}

@media all and (max-width: 710px){
	header{
		.dialogue{
			.name_contact{
				.contact{
					i{
						margin-top : .7rem;
						margin-bottom : .2rem;
					}
				}
			}
		}
			
	}

	
}

