$color_primary : rgb(80, 14, 8);
$color_secondary:rgb(175, 114, 108);
$border_color : rgb(146, 43, 33);
$border : 1rem;

@keyframes appear{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


@keyframes description_appear{
	0%, 20%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


@keyframes logo_move{
	0%{
		transform: rotate(0deg) translate(0, 0);

	}
	25%{
		transform: rotate(30deg) translate(.5rem, .5rem);
	}
	50%{
		transform: rotate(0deg) translate(0, 0);
	}
	75%{
		transform: rotate(-30deg) translate(-.5rem, .5rem);
	}
	100%{
		transform: rotate(0deg) translate(0, 0);
	}
}


body{
	width : 90%;
	margin: 2rem auto;
	font-size: 12px;
	font-family: Georgia, 'Open Sans', 'sans-serif';
	color : white;
	border : 2px solid rgba(121, 125, 127, .5);
	border-radius : $border;
	background-image : url("../img/background.jpg");
	background-size: cover;
	background-attachment: fixed;
}

/*HEADER--------------------------------------------------*/
header{

	.imageProfil{
		width : 90%;
		height : 40rem;
		background-image: url("../img/profilFull.png");
		background-size: 150%;
		background-position-x: center;
		position: absolute;
		top : 2rem;
		animation: appear 1700ms;
	}

	.contact{
		display: flex;
		flex-direction: column;
		text-align: center;
		position: absolute;
		top: 5rem;
		right: 3rem;

		i{
			padding : .5rem;
			margin : 1rem;
			font-size : 5rem;
			color : $color_primary;
			background-color : $color_secondary;
			border : 2px solid $border_color;
			border-radius : $border;
			
			&:hover{
				animation : logo_move 800ms linear infinite;
			}
		}
	}

	.dialogue{
		margin : 30rem 0 auto;
		position : relative;
		animation : description_appear 1700ms;

		.name_contact{
			.name{
				width : 98%;
				padding: .5rem;
				text-align : center;
				border : thick double $border_color;
				border-radius : 1rem;
				background-color : $color_primary;

				h1{
					margin : .5rem;
				}

				h2{
					font-size: 11px;
				}
			}
		}

		.description{
			padding : 1.5rem;
			text-align: justify;
			color : $color_primary;
			border : thick double $border_color;
			border-radius : $border;
			background-color : $color_secondary;
			z-index : -1;
		}
	}
}

/*CORPS--------------------------------------------------*/
.section{
	.language-lobby{
		display: flex;
		justify-content: center;

		.block{
			width: 100%;
			margin: 2rem;

			h1{
				font-size: 2.5rem;
			}

			.paragraphe{
				font-size: 2rem;
			}
		}

		.align-right{
			text-align: right;
		}
	}

	.bloc_pro{
		margin : 1rem;

		.container{
			h1{
				font-size: 16px;
			}

			.projet{
				margin: 3rem 0;
				h2{
					text-align: center;
					text-decoration: underline;
				}

				.title{
					display: flex;
					justify-content: space-around;
					font-size: 2rem;
				}
			}
		}
	}



	ul {
		padding :0;
		display : flex;
		flex-wrap : wrap;
		list-style-type: none;
		
		li{
			margin : .5rem .5rem;
			padding : .5rem 1rem;
			background-color : $color_primary;
			border-radius : $border;
		}
	}
}


/*AUTRES--------------------------------------------------*/
.fas{
	color : $color_secondary;
}


/*SCREEN SIZE--------------------------------------------------*/

